{% extends 'base.html' %}

{% block content %}
<form id="descomposicion_de_series_temporales_form" method="POST" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="action" value="calcular">Visualizar</button>
    <button type="button" onclick="guardarDescomposiciones()">Guardar</button>
    <input type="hidden" id="action_input" name="action" value="">
</form>
{% if descomposicion_de_serie_temporal.exists or graficas.exists %}
<a href="{% url 'resultados_descomposicion_de_series_temporales' analisis_uuid %}" class="btn btn-primary">Consultar resultados</a>
{% endif %}

{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

<div id="grafica_descomposicion">{{ datos_fig | safe }}</div>
{% if datos_fig %}
    <form id="descomposicion_de_series_temporales_form" method="POST" action="">
        {% csrf_token %}
        <button type="button" onclick="guardarGraficaDatos()">Adjuntar</button>
        <input type="hidden" id="action_input" name="adjuntar" value="">
    </form>
{% endif %}

<div id="grafica_descomposicion">{{ tendencia_fig | safe }}</div>
{% if tendencia_fig %}
    <form id="descomposicion_de_series_temporales_form" method="POST" action="">
        {% csrf_token %}
        <button type="button" onclick="guardarGraficaTendencia()">Adjuntar</button>
        <input type="hidden" id="action_input" name="adjuntar" value="">
    </form>
{% endif %}

<div id="grafica_descomposicion">{{ estacionalidad_fig | safe }}</div>
{% if estacionalidad_fig %}
    <form id="descomposicion_de_series_temporales_form" method="POST" action="">
        {% csrf_token %}
        <button type="button" onclick="guardarGraficaEstacionalidad()">Adjuntar</button>
        <input type="hidden" id="action_input" name="adjuntar" value="">
    </form>
{% endif %}
<div id="grafica_descomposicion">{{ residuos_fig | safe }}</div>
{% if residuos_fig %}
    <form id="descomposicion_de_series_temporales_form" method="POST" action="">
        {% csrf_token %}
        <button type="button" onclick="guardarGraficaResiduo()">Adjuntar</button>
        <input type="hidden" id="action_input" name="adjuntar" value="">
    </form>
{% endif %}

{% for g in graficas %}
    <div>{{ g.imagen }}</div>
{% endfor %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    function guardarDescomposiciones() {
        document.getElementById('action_input').value = 'guardar';
        document.getElementById('descomposicion_de_series_temporales_form').submit();
    }
    function guardarGraficaDatos() {
        document.getElementById('action_input').value = 'adjuntar_datos_fig';
        document.getElementById('descomposicion_de_series_temporales_form').submit();
    }
    function guardarGraficaTendencia() {
        document.getElementById('action_input').value = 'adjuntar_tendencia_fig';
        document.getElementById('descomposicion_de_series_temporales_form').submit();
    }
    function guardarGraficaEstacionalidad() {
        document.getElementById('action_input').value = 'adjuntar_estacionalidad_fig';
        document.getElementById('descomposicion_de_series_temporales_form').submit();
    }
    function guardarGraficaResiduo() {
        document.getElementById('action_input').value = 'adjuntar_residuo_fig';
        document.getElementById('descomposicion_de_series_temporales_form').submit();
    }
</script>
<script>
    setTimeout(function() {
        var messages = document.querySelectorAll('.alert');
        messages.forEach(function(message) {
            message.style.display = 'none';
        });
    }, 3000);
</script>
{% endblock %}
