{% extends 'base.html' %}

{% block content %}
    {% if analisis %}
        <br>
        <h2>Resultados para el análisis <strong>{{ analisis.id }} {{ analisis.nombre }}</strong>:</h2>
        <br>
        {% if datos.exists %}
            <form method="post" id="delete-form">
                {% csrf_token %}
                <input type="hidden" name="action" value="delete_selected">
                <button type="submit" class="btn btn-danger mb-2" id="delete-selected">Eliminar seleccionados</button>
                <button type="button" class="btn btn-secondary mb-2" id="select-all">Seleccionar todo</button>
                <button type="button" class="btn btn-primary mb-2" id="download-csv">Descargar CSV</button>
                <table class="table table-info">
                    <thead class="thead-dark">
                    <tr>
                        <th><input type="checkbox" id="select-all-checkbox"></th>
                        <th>Título</th>
                        <th>Dato analizado</th>
                        <th>Nombre del dato</th>
                        <th>Estilo</th>
                        <th>Método de cálculo empleado</th>
                        <th>Tipo de Autocorrelación</th>
                        <th>Lag</th>
                        <th>Valor</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dato in datos %}
                        <tr class="table-light">
                            <td><input type="checkbox" name="dato_ids" value="{{ dato.autocorrelacion.id }}"></td>
                            <td>{{ dato.autocorrelacion.titulo }}</td>
                            <td>{{ dato.autocorrelacion.nombre }}</td>
                            <td>{{ dato.nombre_dato }}</td>
                            <td>{{ dato.autocorrelacion.estilo }}</td>
                            <td>{{ dato.autocorrelacion.metodo_calculo }}</td>
                            <td>{{ dato.autocorrelacion.tipo }}</td>
                            <td>{{ dato.lag }}</td>
                            <td>{{ dato.valor }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
        {% else %}
            <p>No hay autocorrelaciones agregadas</p>
        {% endif %}
        <br>
        {% if graficas.exists %}
            <h2>IMÁGENES:</h2>
            {% for grafica in graficas %}
                <div>{{ grafica.titulo }}</div>
                <div>{{ grafica.imagen_html|safe }}</div>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="delete_grafica">
                    <input type="hidden" name="grafica_id" value="{{ grafica.id }}">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
                <br>
            {% endfor %}
        {% endif %}
        <script>
            document.getElementById('select-all').addEventListener('click', function () {
                var checkboxes = document.querySelectorAll('input[type="checkbox"][name="dato_ids"]');
                checkboxes.forEach(function (checkbox) {
                    checkbox.checked = true;
                });
            });

            document.getElementById('select-all-checkbox').addEventListener('change', function () {
                var checkboxes = document.querySelectorAll('input[type="checkbox"][name="dato_ids"]');
                checkboxes.forEach(function (checkbox) {
                    checkbox.checked = this.checked;
                }, this);
            });

            document.getElementById('download-csv').addEventListener('click', function () {
                var csv = [];
                var rows = document.querySelectorAll('table tr');
                rows.forEach(function (row) {
                    var csvRow = [];
                    var cells = row.querySelectorAll('td, th');
                    cells.forEach(function (cell) {
                        csvRow.push(cell.textContent.trim());
                    });
                    csv.push(csvRow.join(','));
                });
                var csvContent = 'data:text/csv;charset=utf-8,' + csv.join('\n');
                var encodedUri = encodeURI(csvContent);
                var link = document.createElement('a');
                link.setAttribute('href', encodedUri);
                link.setAttribute('download', 'datos_autocorrelacion.csv');
                document.body.appendChild(link);
                link.click();
            });
        </script>

    {% endif %}
{% endblock %}
