{% extends 'base.html' %}

{% block content %}
    <br>
    <a aria-current="page" class="boton-volver" href="{% url 'deteccion_de_outliers' analisis_uuid=analisis_uuid %}">Volver</a>
    <br>
    <br>
    <h2>Resultados para el análisis sobre detección de Outliers <strong>{{ analisis.nombre }}</strong>:</h2>
    <br>
    {% if datos.exists %}
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-warning">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
        <form method="post" id="delete-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-danger">Borrar Outliers por Título</button>
            <button type="button" class="btn btn-primary mb-2" id="download-csv">Descargar CSV</button>

            <table class="table table-info">
                <thead class="thead-dark">
                <tr>
                    <th>Título</th>
                    <th>Dato analizado</th>
                    <th>Nombre del dato</th>
                    <th>Método de cálculo empleado</th>
                    <th>Umbral</th>
                    <th>Fecha</th>
                    <th>Valor</th>
                </tr>
                </thead>
                <tbody>
                {% for dato in datos %}
                    <tr class="table-light">
                        <td>{{ dato.deteccion_de_outlier.titulo }}</td>
                        <td>{{ dato.deteccion_de_outlier.nombre }}</td>
                        <td>{{ dato.nombre_dato }}</td>
                        <td>{{ dato.deteccion_de_outlier.metodo_calculo }}</td>
                        <td>{{ dato.deteccion_de_outlier.umbral }}</td>
                        <td>{{ dato.fecha_dato }}</td>
                        <td>{{ dato.valor }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>
    {% else %}
        <p>No hay outliers agregados</p>
    {% endif %}
    <br>
    {% if graficas.exists %}
        <h2>IMÁGENES:</h2>
        {% for grafica in graficas %}
            <div>{{ grafica.titulo }}</div>
            <div>{{ grafica.imagen_html|safe }}</div>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="delete_grafica">
                <input type="hidden" name="grafica_id" value="{{ grafica.id }}">
                <button type="submit" class="btn btn-danger">Eliminar</button>
            </form>
            <br>
        {% endfor %}
    {% endif %}
    <script>
        document.getElementById('download-csv').addEventListener('click', function () {
            var csv = [];
            var rows = document.querySelectorAll('table tr');
            rows.forEach(function (row) {
                var csvRow = [];
                var cells = row.querySelectorAll('td, th');
                cells.forEach(function (cell) {
                    csvRow.push(cell.textContent.trim());
                });
                csv.push(csvRow.join(','));
            });
            var csvContent = 'data:text/csv;charset=utf-8,' + csv.join('\n');
            var encodedUri = encodeURI(csvContent);
            var link = document.createElement('a');
            link.setAttribute('href', encodedUri);
            link.setAttribute('download', 'datos_deteccion_de_outliers.csv');
            document.body.appendChild(link);
            link.click();
        });
        setTimeout(function() {
            var messages = document.querySelectorAll('.alert');
            messages.forEach(function(message) {
                message.style.display = 'none';
            });
        }, 3000);
    </script>
{% endblock %}
